/* This is so that I can use the Bookerly font that I downloaded */
@font-face {
    font-family: 'Bookerly';
    src: url('bookerly\Bookerly Bold Italic.ttf') format('truetype'),
        url('bookerly\Bookerly Bold.ttf') format('truetype'),
        url('bookerly\Bookerly Display Bold Italic.ttf') format('truetype'),
        url('bookerly\Bookerly Display Bold.ttf') format('truetype'),
        url('bookerly\Bookerly Display Italic.ttf') format('truetype'),
        url('bookerly\Bookerly Display.ttf') format('truetype'),
        url('bookerly\Bookerly Italic.ttf') format('truetype'),
        url('bookerly\Bookerly LCD Italic.ttf') format('truetype'),
        url('bookerly\Bookerly LCD Light Italic.ttf') format('truetype'),
        url('bookerly\Bookerly Light Italic.ttf') format('truetype'),
        url('bookerly\Bookerly Light.ttf') format('truetype'),
        url('bookerly\Bookerly.ttf') format('truetype');
    /* Other font properties like font-weight and font-style can be defined here */
}

/* Formatting for the header */
header {
    background: #82a378;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 10%;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    padding-right: 1vh;
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


.logo {
    margin: 0;
    padding-top: .25vh;
    font-family: 'Bookerly Bold';
    font-size: 6vmin;
    color: white;
    position: absolute;
    left: 1vw;
    top: 0;
}

.dropdown {
    display: inline-block;
}

.dropdown button {
    background-color: white;
    color: black;
    padding: 1vh 1vw;
    border: none;
    cursor: pointer;
    border-radius: .5vh;
    width: 11vw;
    text-align: left;
    font-family: 'Bookerly Bold';
    font-size: larger;
}

.dropdown a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 1vh 1vw;
    text-align: left;
    font-family: 'Bookerly Bold';
    font-size: larger;
}

.dropdown .content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 10vw;
    box-shadow: .5vh .5vh 1.5vh black;
    border-radius: .5vh;
    width: 11vw;
}

.dropdown:hover .content {
    display: block;
}

.dropdown:hover button {
    background-color: whitesmoke;
    border-radius: .5vh;
    width: 11vw;
}

.dropdown a:hover {
    background-color: whitesmoke;
    border-radius: .5vh;
}

body {
    background-color: #c9e5cd;
    margin: 0;
    padding-top: 10vh;
    font-family: 'Bookerly Bold';
}

body ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body li {
    display: inline-block;
    margin-left: 1vw;
    padding-top: 2.5vh;
}

.game-board {
    display: grid;
    grid-template-columns: 4.5vw 4.5vw 4.5vw 4.5vw 4.5vw 4.5vw 4.5vw 4.5vw 4.5vw;
    grid-template-rows: 9vh 9vh 9vh 9vh 9vh 9vh 9vh 9vh 9vh;
    justify-content: center;
    align-content: center;
    grid-gap: .2vw;
    margin-left: 30vw;
    position: absolute;
    top: 13vh;
    left: 0;
}

.game-board-7 {
    display: grid;
    grid-template-columns: 5.5vw 5.5vw 5.5vw 5.5vw 5.5vw 5.5vw 5.5vw;
    grid-template-rows: 11vh 11vh 11vh 11vh 11vh 11vh 11vh;
    justify-content: center;
    align-content: center;
    grid-gap: .2vw;
    margin-left: 30vw;
    position: absolute;
    top: 13vh;
    left: 0;
}

.game-board-5 {
    display: grid;
    grid-template-columns: 9vw 9vw 9vw 9vw 9vw;
    grid-template-rows: 16vh 16vh 16vh 16vh 16vh;
    justify-content: center;
    align-content: center;
    grid-gap: .2vw;
    margin-left: 29vw;
    position: absolute;
    top: 13vh;
    left: 0;
}

.box {
    background-color: #d9d9d9;
    border: .3vh solid white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1vh;
    pointer-events: none;
}

.empty-box {
    background-color: transparent;
    border: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-box {
    background-color: #caffbf;
    border: .3vh solid white;
    color: rgb(0, 85, 0);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1vh;
}

.end-box {
    background-color: #ffc7ff;
    border: .3vh solid white;
    color: #ad4fad;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1vh;
    box-shadow: none;
}

.rectangle {
    width: 17vw;
    height: 5vh;
    margin-left: 4vw;
    background-color: #d9d9d9;
    border: .3vh solid white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1vh;
    margin-top: 0%;
    margin-bottom: 0%;
    text-decoration: none;
    color: black;
}


.prompt-header {
    text-align: center;
    font-size: 300%;
    color: rgb(11, 70, 14);
}

.prompt-description {
    align-items: center;
    text-align: center;
    font-size: 200%;
    color: rgb(11, 70, 14);
}

.recommendation-container {
    display: flex;
    justify-content: center;
}

.recommendation-box {
    flex: 1;
    background-color: #f0f0f0;
    border: .15vh solid #ccc;
    padding: 1vh;
    margin: 1.5vh;
    text-align: center;
    max-width: 15vw;
    height: 45vh;
}

.recommendation-box h2 {
    font-size: 3vmin;
    color: #333;
}

footer {
    position: absolute;
    left: 82.5%;
    top: 95%;
}

.gamemode-selection {
    display: flex;
}

.gamemode-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border: .15vh solid #ccc;
    padding: 2vh;
    margin: 2vh;
    text-align: center;
    height: 75vh;
    font-size: xx-large;
    border-radius: 2vh;
    text-decoration: none;
    color: black;
}

/* Dice formatting */
.dice-container {
    display: flex;
    position: absolute;
    top: 50vh;
    left: 83vw;
}

.dice-container-one {
    display: flex;
    position: absolute;
    top: 50vh;
    left: 83vw;
}

.dice {
    width: 4vw;
    height: 4vw;
    position: relative;
    margin: .5vh;
    border-radius: 1vh;
    box-shadow: 0 0 1vh rgba(0, 0, 0, 0.25);
    background-color: white;
}

.dice-dot {
    --top: 0% --left: 0%;

    width: .75vw;
    height: .75vw;
    background-color: black;
    border-radius: 50%;

    /* Dot Positioning */
    position: absolute;
    top: var(--top);
    left: var(--left);
    transform: translateX(calc(var(--left) * -1)) translateY(calc(var(--top) * -1));
}

.btn-roll-dice {
    margin-top: 1vh;
    position: absolute;
    top: 60vh;
    left: 85vw;
    font-family: 'Bookerly Bold';
    width: 5vw;
    height: 4vh;
}

h3 {
    margin-top: 1vh;
    color: black;
    font-size: xx-large;
}

table {
    width: 70%;
    border-collapse: collapse;
    margin-top: 2vh;
}

td {
    padding: 1vh;
    border: transparent;
    font-size: x-large;
}

th {
    padding-top: 1.2vh;
    padding-bottom: 1.2vh;
    color: #333;
    border: transparent;
}

select {
    width: 100%;
    padding: 1vh;
    box-sizing: border-box;
}

.gamesettingsbutton {
    width: 20%;
    height: 100%;
}

button.quitgame {
    width: 10vw;
    height: 5vh;
    background-color: white;
    color: black;
    font-family: 'Bookerly Bold';
    position: absolute;
    right: 4vw;
    bottom: 6vh;
    cursor: pointer;
}

button.back {
    width: 10vw;
    height: 5vh;
    background-color: white;
    color: black;
    font-family: 'Bookerly Bold';
    position: absolute;
    left: 1.6vw;
    top: 13vh;
    cursor: pointer;
    font-size: large;
}

button {
    cursor: pointer;
}

.glow {
    box-shadow: 0 0 10px 5px #FFD700;
    pointer-events: auto;
}
